.profile {
    background-color: #00000082;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 15px;
}

.collection-create {
    display: flex;
}

.name {
    display: flex;
    justify-content: space-between;
}

.story-list {
    padding: 5px;
    margin: 5px;
    border-top: 1px solid #aaa;
}

.story-list p {
    margin: 0px;
}