.story {
    border: none;
    background-color: #0a0a0a;
    color: #fff;
    border-radius: 15px;
    margin: 5px;
}

.story img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.story a {
    color: #fff;
}

.top-stories {
    padding: 5px;
}

.top-stories img {
    border-radius: 15px;
}

.author-bg {
    border: 1px solid #ddd;
    padding: 15px 0;
    background-color: #292c3b;
    border-radius: 15px;
    margin: 15px 0;
}

.author {
    text-align: center;
}

.comment {
    border-radius: 15px;
    margin: 15px auto;
    color: #fff;
}

.voice {
    background-color: #292c3b;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
}

.voice .btn-voice {
    outline: none;
    border-radius: 50%;
    padding: 5px 8px;
    margin: 0 5px;
    border-color: #fff;
    color: #fff;
}

.btn-voice-success {
    background-color: #28a745;
}
.btn-voice-warning {
    background-color: #a7a528;
}
.btn-voice-info {
    background-color: #2883a7;
}
.btn-voice-danger {
    background-color: #f43547;
}

.create {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.btn-create {
    border-radius: 50%;
    padding: 10px 15px;
    background-color: #af0404;
    border: none;
}

.btn-remove {
    background: none;
    padding: 0px 5px;
    border: none;
    outline: none;
}

.editor {
    background-color: #fff;
    color: #000;
}

.editor p {
    color: #000;
}

.thumbnail {
    border: 1px solid #123;
    border-radius: 15px;
}